.react-datepicker__time-list-item--disabled {
  display: none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: inline;
}

/* #date {
  color: gray;
}

#number {
  color: black;
}

.bookingFrom {
  color: black;
} */